
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @Html.ActionLink("Новини", "Index", "Articles", null, new { @style = "color:black; font-size:20px;" }) <span class="glyphicon glyphicon-pencil" style="color:#4db7ad"></span><br /><br />
    @Html.ActionLink("Категорії новин", "Index", "Categories", null, new { @style = "color:black; font-size:20px;" }) <span class="glyphicon glyphicon-list" style="color:#4db7ad"></span>
  
