<br />

<div class="row">
    <div class="col col-md-12">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search" id="search" style="float:left;max-width:80%; width:700px; margin-left:250px;">
                <button id="search" type="submit" value="Пошук" class="btn btn-link" style="width:50px; float:left; margin-top:2px; margin-left:5px; background-color:white; border-radius:5%; height:30px;"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        }
    </div>
</div>

<div class="row">
    <br />
    <div class="col col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                Мої файли
            </div>
            <div class="panel-body">
                <ul>
                    <li>File1</li>
                    <li>File2</li>
                    <li>File3</li>
                </ul>
            </div>
            <div class="panel-heading">
                Повідомлення
            </div>
            <div class="panel-body">
                <p>Повідомлень 0</p>
                <p>Читати повідомлення</p>
            </div>
        </div>
    </div>
    <div class="col col-md-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col col-md-6">
                    <p>
                        Анонімна пересилка файлу. Доступ до файлу здійснюється за допомогою ключа.
                    </p>
                </div>
                <div class="col col-md-4">
                    <div class="form-group">
                        @Html.ActionLink("Створити", "create", "home", null, new { @class = "btn btn-success" })
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>Останні файли</h3>
            </div>
            <div class="panel-body">
                <div class="col col-md-6">
                    <div class="panel-heading">
                        <h5>Останні</h5>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="panel-heading">
                        <h5>Найпопулярніші</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

